<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.archetype.animus">
            <level value="DEBUG"/>
        </logger>

        <logger name="org.springframework.r2dbc">
            <level value="DEBUG"/>
        </logger>
    </springProfile>

</configuration>