<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1>animus bookshelf</h1>
<table id="bookshelf">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>価格</th>
    </tr>
    </thead>
    <tbody id="books">
    <tr th:each="book: ${booksPresenter.getBooks()}" th:attr="data-href=|/animus/books/${book.getIsbn()}|">
        <td><a th:text="${book.getIsbn()}" th:href="@{/animus/books/{isbn}(isbn=${book.getIsbn()})}"></a></td>
        <td th:text="${book.getFormattedPrice()}"></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getFormattedPrice()}"></td>
    </tr>
    </tbody>
</table>
<!--<div>-->
<!--    <a href="/animus/books/new">Register new book</a>-->
<!--</div>-->
</body>
</html>
